@import url('https://fonts.googleapis.com/css?family=Helvetica+Neue,Helvetica,Arial,sans-serif');

:root {
    --bg-primary: #1F2937;
    --secondary-color: #8f45b4; 
    --accent-color: #f05a28; 
    --background-color: #f2f2f2;  
    --text-color: #333;  
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    background-color: var(--gray);
    user-select: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
}

body::-webkit-scrollbar {
    display: none;
}

/**************************************** start tasks ****************************************/
#header-container, #footer-container {
    background-color: var(--bg-primary);
}

#hero-title {
    font-size: 48px; 
    font-weight: bold; 
    color: #F9FAF8; 
}

a, #hero-description {
    text-decoration: none;
    font-size: 18px; 
    color: #E5E7EB;
}

#title {
    font-size: 24px;
    color: #F9FAF8;
}

#contact-background, .signup-btn {
    background-color: #3882F6;
}

#info-title {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

#slogan-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    background-color: #E5E7EB;
    color: #1F2937;
}
/**************************************** finish tasks ****************************************/

#body-container, #header-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#nav-container {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 1em 5.8em;
}

.navbar-link {
    opacity: 0.7;
    padding: 0 0.5em;
}

#hero-container {
    display: flex;
    padding: 4em 6em;
}

#hero-description {
    padding-top: 0.5em;
    padding-right: 2em;
    opacity: 0.7;
}

#hero-img {
    width: 30em;
}

.signup-btn {
    border: none;
    outline: none;
    font-size: 1.3em;
    margin: 1em 0;
    padding: 0.3em 1.7em;
    border-radius: 0.5em;
    color: white;
}

#main-container, #info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#info-title {
    font-size: 2.3em;
    padding: 0.5em 0;
}

#info-objects {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}

.info-image {
    width: 14.5em;
    height: 13em;
    object-fit: cover;
    border-radius: 100%;
}