@import url('https://fonts.googleapis.com/css?family=Helvetica+Neue,Helvetica,Arial,sans-serif');

:root {
    --bg-primary: #1F2937;
    --secondary-color: #8f45b4; 
    --accent-color: #f05a28; 
    --background-color: #f2f2f2;  
    --text-color: #333;  
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    background-color: var(--gray);
    user-select: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
}

body::-webkit-scrollbar {
    display: none;
}

#header-container, #footer-container {
    background-color: var(--bg-primary);
}

/**************************************** start tasks ****************************************/

#hero-title {
    font-size: 48px; 
    font-weight: bold; 
    color: #F9FAF8; 
}

a, #hero-description {
    text-decoration: none;
    font-size: 18px; 
    color: #E5E7EB;
}

#header-title {
    font-size: 24px;
    color: #F9FAF8;
}

#contact-background, .signup-btn {
    background-color: #3882F6;
}

#info-title {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

#slogan-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    background-color: #E5E7EB;
    color: #1F2937;
}

/**************************************** finish tasks ****************************************/